.navbar {
    background-color: #4d3b69;
}
.card {
    border: none;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #4642422f;
}
.contactPageHeader {
    margin-top: 20px;
    margin-bottom: 20px;
}
.portfolioPageHeader {
    margin-top: 20px;
    margin-bottom: 20px;
}